In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv("mobiles.csv")
df.head(2)

,screen_size,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,sales
0,Very Small,64,2,1,1,1800,4.5,38645,32999,0.17,127.52
1,Small,64,4,2,1,2815,4.5,244,57149,0.04,1.39

### Q1.

In [4]:
stat_mean = df["sales"].mean()
stat_std  = df["sales"].std()
stat_out  = stat_mean + 2 * stat_std
stat_out

146.55150129273215

In [6]:
df_q1 = df.loc[df["sales"] > stat_out, ]
df_q1.shape

(16, 11)

In [ ]:
df_q1["idx"] = (df_q1["ROM"] / 32) + (df_q1["RAM"] / 2) + \
(df_q1["num_front_camera"] + df_q1["num_rear_camera"]) + (df_q1["battery_capacity"] / 1000)

In [9]:
round(df_q1["idx"].mean(), 2)

11.01

### Q2.

In [12]:
df["num_rear_camera"].unique()

array([1, 2, 3, 4], dtype=int64)

In [ ]:
df_q2 = df.loc[df["num_rear_camera"] != 1, "battery_capacity":]
df_q2.head(1)

In [18]:
df_corr = df_q2.corr()
type(df_corr)

pandas.core.frame.DataFrame

In [23]:
df_corr["sales"].abs().round(2) # 0.95

In [25]:
df_corr["sales"].drop("sales").abs().round(2).max()

0.95

### Q3.

`pd.get_dummies()`Îäî Îã§Î•∏ Î©îÏÑúÎìú/Ìï®Ïàò/ÌÅ¥ÎûòÏä§ÏôÄ Îã§Î•¥Í≤å "columns" Ïù∏ÏûêÏóê Îã®Ïùº Í∞íÏùÑ Ìï†ÎãπÌïòÎäî Í≤ΩÏö∞ÏóêÎèÑ Î∞òÎìúÏãú üåü**Î¶¨Ïä§Ìä∏**üåü Í∞ùÏ≤¥Î•º ÏÇ¨Ïö©ÌïòÏó¨ Ìï†ÎãπÌï¥Ïïº ÌïúÎã§. Îã®Ïàú Î¨∏ÏûêÏó¥ÏùÑ Ìï†ÎãπÌï† Í≤ΩÏö∞ ÏóêÎü¨Í∞Ä ÎÇúÎã§.

Í∑∏Î¶¨Í≥† ÏõêÌï´Ïù∏ÏΩîÎî©ÏùÑ Ïã§ÏãúÌï† Îïå Î≥ÄÏàòÎ™ÖÏóê ÎùÑÏñ¥Ïì∞Í∏∞Í∞Ä ÏûàÏùÑ Ïàò ÏûàÎäîÎç∞ `statsmodels` ÎùºÏù¥Î∏åÎü¨Î¶¨ Í∏∞Î∞ò Î™®Îç∏ÎßÅÏùÑ ÌïòÎ©¥ÏÑú formula Î•º ÏÇ¨Ïö©ÌïòÎäî Í≤ΩÏö∞ Î≥ÄÏàòÎ™ÖÏóê ÎùÑÏñ¥Ïì∞Í∏∞Î•º Ï†úÍ±∞ÌïòÏßÄ ÏïäÏùÄ Ï±ÑÎ°ú formulaÎ•º ÏûëÏÑ±ÌïòÎ©¥ Î∞òÎìúÏãú ÏóêÎü¨Í∞Ä Î∞úÏÉùÌï®. Í∑∏Î¶¨Í≥† Ïù¥ Ïù¥ÏäàÎäî Ïù¥Ï†Ñ ÏãúÌóòÏóêÏÑú ÏùëÏãúÏûêÍ∞Ä Ïñ¥Î†§ÏõÄÏùÑ Í≤™ÏùÄ ÏÇ¨Î°ÄÍ∞Ä ÏûàÏùå.  
‚Äª Îã§ÏùåÏùò ÏΩîÎìú Í≤∞Í≥ºÏóêÏÑúÎäî "screen_size_Very Large"  
‚Äª "screen_size_Very Large" -> "screen_size_Very_Large"

In [ ]:
# df_q3_dum = pd.get_dummies(df, columns = ["screen_size"]) # ÏãúÌóòÎ≤ÑÏ†Ñ
df_q3_dum = pd.get_dummies(df, columns = ["screen_size"], dtype = "int")
df_q3_dum.head(2)

In [ ]:
df_q3_dum.shape

In [ ]:
df_q3_dum = df_q3_dum.set_index("sales").reset_index()
df_q3_dum.head(1)

In [35]:
df_train, df_test = train_test_split(df_q3_dum, train_size = 0.8, random_state = 123)
len(df_train), len(df_test)

(344, 86)

In [36]:
model_nor = MinMaxScaler().fit(df_train)
arr_train_nor = model_nor.transform(df_train)
arr_test_nor  = model_nor.transform(df_test)

In [ ]:
arr_train_nor[:1, ]

In [ ]:
k = 3
model_knn = KNeighborsRegressor(n_neighbors = k)
model_knn.fit(X = arr_train_nor[:, 1:],
              y = arr_train_nor[:, 0])
pred = model_knn.predict(arr_test_nor[:, 1:])
mean_squared_error(y_true = arr_test_nor[:, 0], y_pred = pred) ** 0.5

In [46]:
ls_k = [3, 5, 7, 9, 11]
ls_rmse = []
for k in ls_k:
    model_knn = KNeighborsRegressor(n_neighbors = k)
    model_knn.fit(X = arr_train_nor[:, 1:],
                  y = arr_train_nor[:, 0])
    pred = model_knn.predict(arr_test_nor[:, 1:])
    val_rmse = mean_squared_error(y_true = arr_test_nor[:, 0], y_pred = pred) ** 0.5
    ls_rmse = ls_rmse + [val_rmse]

In [50]:
ls_rmse # 3!!!

[0.08186677375964535,
 0.09879109824384892,
 0.107669855645971,
 0.11232111394853059,
 0.1136902366621185]

In [48]:
ser_rmse = pd.Series(ls_rmse, index = ls_k)
ser_rmse # 3 !!!

3     0.081867
5     0.098791
7     0.107670
9     0.112321
11    0.113690
dtype: float64

In [49]:
best_k = ser_rmse.idxmin()
best_k

3

### Q3. \[Ï∂îÍ∞Ä ÏßÄÏãúÏÇ¨Ìï≠\] Îã§ÏùåÏùÄ Ï†ÄÎ≤àÎã¨Ïóê Ïã†Í∑ú Ï∂úÏãúÎêú Í≤ΩÏüÅÏÇ¨Ïùò Ïä§ÎßàÌä∏Ìè∞ Ï†ïÎ≥¥Ïù¥Îã§. Ìï¥Îãπ Ïä§ÎßàÌä∏Ìè∞Ïùò ÌåêÎß§ÏßÄÏàòÎäî ÏñºÎßàÎ°ú ÏòàÏÉÅÎêòÎäîÍ∞Ä?  
> **Îã®Í≥Ñ 1)** Ï£ºÏñ¥ÏßÑ Îç∞Ïù¥ÌÑ∞Îäî Í∏∞Ï°¥ ÏõêÌï´Ïù∏ÏΩîÎî© Í∑úÏπôÏùÑ Í∏∞Î∞òÏúºÎ°ú ÎçîÎØ∏Î≥ÄÏàòÎ•º ÏÉùÏÑ±ÌïòÏãúÏò§.  
> **Îã®Í≥Ñ 2)** Í∏∞Ï°¥ Ï†ïÍ∑úÌôî Í∑úÏπôÏùÑ Í∏∞Î∞òÏúºÎ°ú Ï£ºÏñ¥ÏßÑ Îç∞Ïù¥ÌÑ∞Î•º Ï†ïÍ∑úÌôî ÌïòÏãúÏò§.  
> **Îã®Í≥Ñ 3)** Í∏∞Ï°¥Ïóê Ï†ïÏ†úÌïú ÌïôÏäµ Îç∞Ïù¥ÌÑ∞ ÏÑ∏Ìä∏ÏôÄ Ïù¥ÏõÉ Í∞úÏàòÎäî ÏßÅÏ†ÑÏóê ÏµúÏ†ÅÏù¥ÎùºÍ≥† ÌåêÎã®Ìïú kÍ∞íÏùÑ ÏÇ¨Ïö©Ìïú k-NN Î™®Îç∏ÏùÑ Ï§ÄÎπÑÌïòÏãúÏò§.  
> **Îã®Í≥Ñ 4)** Ï§ÄÎπÑÎêú k-NN Î™®Îç∏Ïóê "Îã®Í≥Ñ 2"ÏóêÏÑú ÏÇ∞Ï∂úÌïú Îç∞Ïù¥ÌÑ∞ ÏÑ∏Ìä∏Î•º ÏûÖÎ†•ÌïòÍ≥† Í∑∏ Í≤∞Í≥ºÎ•º ÌôïÏù∏ÌïòÏãúÏò§.  
> **Îã®Í≥Ñ 5)** "Îã®Í≥Ñ 4"Ïùò Í≤∞Í≥ºÎ¨ºÏùÑ Í∏∞Ï°¥ Ï†ïÍ∑úÌôî Í∑úÏπôÏùÑ Í∏∞Î∞òÏúºÎ°ú Ïó≠Î≥ÄÌôò ÌïòÏãúÏò§.  

‚Äª Ï†ïÎãµÏùÄ Î∞òÏò¨Î¶ºÌïòÏó¨ ÏÜåÏàò Ï≤´Ïß∏ ÏûêÎ¶¨ÍπåÏßÄ Ï∂úÎ†•ÌïòÏãúÏò§.  
(Ï†ïÎãµ ÏòàÏãú: 0.1)
* ROM: 256
* RAM: 6
* num_rear_camera: 4
* num_front_camera: 1
* battery_capacity: 4000
* ratings: 4.3
* num_of_ratings: 25000
* sales_price: 85000
* discount_percent: 0.05
* screen_size: "Large"

In [54]:
df_t1 = df_test.head(1).reset_index(drop = True)
df_t1["RAM"] = 6
df_t1["num_rear_camera"] = 4
df_t1["battery_capacity"] = 4000
df_t1["ratings"] = 4.3
df_t1["num_of_ratings"] = 25000
df_t1["sales_price"] = 85000
df_t1["discount_percent"] = 0.05
df_t1["screen_size_Large"] = 1
df_t1["screen_size_Medium"] = 0

In [59]:
df_t1

,sales,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,screen_size_Large,screen_size_Medium,screen_size_Small,screen_size_Very Large,screen_size_Very Small
0,5.9,256,6,4,1,4000,4.3,25000,85000,0.05,1,0,0,0,0

In [56]:
MinMaxScaler().fit_transform(df_t1)

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [64]:
# model_nor.transform(df_t1.drop(columns = "sales"))
arr_t1_nor = model_nor.transform(df_t1)
arr_t1_nor

array([[0.0119438 , 0.49206349, 0.45454545, 1.        , 0.        ,
        0.42307692, 0.625     , 0.05308122, 0.51815842, 0.09302326,
        1.        , 0.        , 0.        , 0.        , 0.        ]])

In [69]:
model_knn_b = KNeighborsRegressor(n_neighbors = best_k)
model_knn_b.fit(X = arr_train_nor[:, 1:],
                y = arr_train_nor[:, 0])
pred_t1 = model_knn_b.predict(arr_t1_nor[:, 1:])
pred_t1

array([0.00132259])

In [ ]:
# model_nor.inverse_transform(pred_t1)
# model_nor.inverse_transform([pred_t1])

arr_t1_nor[0, 0] = pred_t1
arr_t1_inv = model_nor.inverse_transform(arr_t1_nor)
arr_t1_inv

In [76]:
round(arr_t1_inv[0, 0], 1)

0.7

In [77]:
df_t1_inv = pd.DataFrame(arr_t1_inv, columns = df_test.columns)
df_t1_inv

,sales,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,screen_size_Large,screen_size_Medium,screen_size_Small,screen_size_Very Large,screen_size_Very Small
0,0.653333,256.0,6.0,4.0,1.0,4000.0,4.3,25000.0,85000.0,0.05,1.0,0.0,0.0,0.0,0.0

In [78]:
df_t1

,sales,ROM,RAM,num_rear_camera,num_front_camera,battery_capacity,ratings,num_of_ratings,sales_price,discount_percent,screen_size_Large,screen_size_Medium,screen_size_Small,screen_size_Very Large,screen_size_Very Small
0,5.9,256,6,4,1,4000,4.3,25000,85000,0.05,1,0,0,0,0