In [1]:
import pandas as pd
import numpy as np

from sklearn.ensemble import RandomForestRegressor

In [2]:
df = pd.read_csv("TV.csv")
df.head(2)

,Product_Name,Stars,Ratings,Reviews,current_price,MRP,channel,Operating_system,Picture_quality,Speaker,Frequency
0,Croma,4.2,1773,217,7990,20000,HD Ready 1366 x 768 Pixels,20 Speaker Output,60 Hz Refresh Rate,2 x HDMI | 2 x USB,1 Year Warranty
1,Adsun,3.8,6742,930,8699,21999,Netflix|Disney+Hotstar|Youtube,Operating System: Android Based,HD Ready 1366 x 768 Pixels,20 W Speaker Output,60 Hz Refresh Rate

### Q1.

In [4]:
df_q1 = df[["Frequency", "Picture_quality", "Speaker"]].copy()
df_q1.head(2)

            Frequency             Picture_quality              Speaker
0     1 Year Warranty          60 Hz Refresh Rate   2 x HDMI | 2 x USB
1  60 Hz Refresh Rate  HD Ready 1366 x 768 Pixels  20 W Speaker Output

In [5]:
stat_1 = sum(df_q1["Frequency"] == "60 Hz Refresh Rate")
stat_2 = sum(df_q1["Picture_quality"] == "60 Hz Refresh Rate")
stat_3 = sum(df_q1["Speaker"] == "60 Hz Refresh Rate")
stat_1 + stat_2 + stat_3

509

In [10]:
# df_q1["Frequency"].unique()
# ser_u = pd.Series(df_q1["Frequency"].unique())
# ser_u = pd.Series(df_q1["Picture_quality"].unique())
ser_u = pd.Series(df_q1["Speaker"].unique())
# ser_u[ser_u.str.contains("Hz")]
ser_u[ser_u.str.contains("[0-9]{2,3} Hz")]

19     60 Hz Refresh Rate
31     50 Hz Refresh Rate
41    200 Hz Refresh Rate
46    120 Hz Refresh Rate
47    100 Hz Refresh Rate
dtype: object

In [14]:
df_q1["hz_1"] = df_q1["Frequency"      ].str.contains("Hz") + 0
df_q1["hz_2"] = df_q1["Picture_quality"].str.contains("Hz") + 0
df_q1["hz_3"] = df_q1["Speaker"        ].str.contains("Hz") + 0
df_q1["hz_cnt"] = df_q1["hz_1"] + df_q1["hz_2"] + df_q1["hz_3"]
df_q1.head(3)

,Frequency,Picture_quality,Speaker,hz_1,hz_2,hz_3,hz_cnt
0,1 Year Warranty,60 Hz Refresh Rate,2 x HDMI | 2 x USB,0,1,0,1
1,60 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,20 W Speaker Output,1,0,0,1
2,50 Hz Refresh Rate,HD Ready 1366 x 768 Pixels,10 W Speaker Output,1,0,0,1

In [15]:
df_q1["hz_cnt"].value_counts()

hz_cnt
1    662
0      4
Name: count, dtype: int64

In [17]:
df_q1 = df_q1.loc[df_q1["hz_cnt"] > 0, ].reset_index(drop = True)
len(df_q1)

662

In [20]:
# df_q1.iloc[:, :3].apply(lambda x: x.str.contains("60 Hz").sum(), axis = 1)
df_q1.iloc[:, :3].apply(lambda x: x.str.contains("60 Hz").sum(), axis = 1).value_counts()

1    510
0    152
Name: count, dtype: int64

In [13]:
# df_q1.iloc[:, :3].apply(lambda x: x.str.contains("60 Hz").sum(), axis = 1).value_counts()[1]
df_q1.iloc[:, :3].apply(lambda x: x.str.contains("^60 Hz|[^0-9]60 Hz").sum(), axis = 1).value_counts()[1]

510

### Q2.

In [21]:
df_q2 = df[["Operating_system", "channel", "Picture_quality", "Stars"]].copy()
df_q2.head(2)

,Operating_system,channel,Picture_quality,Stars
0,20 Speaker Output,HD Ready 1366 x 768 Pixels,60 Hz Refresh Rate,4.2
1,Operating System: Android Based,Netflix|Disney+Hotstar|Youtube,HD Ready 1366 x 768 Pixels,3.8

In [24]:
# ser_u = pd.Series(df_q2["Operating_system"].unique())
# ser_u = pd.Series(df_q2["channel"].unique())
ser_u = pd.Series(df_q2["Picture_quality"].unique())
ser_u[ser_u.str.contains("4K|8K")]

2                      Ultra HD (4K) 3840 x 2160 Pixels
4     Ultra HD (4K) Crystal 4K FE UHD (3840 x 2160) ...
7                        Ultra HD (4K) 3840×2160 Pixels
9                      Ultra HD (4K) 3860 x 2160 Pixels
10                       Ultra HD (4K) 3840X2160 Pixels
12                     Ultra HD (4K) 3840 × 2160 Pixels
13                       Ultra HD (4K) 3840*2160 Pixels
14                       Ultra HD (4K) 3840x2160 Pixels
28                     Ultra HD (8K) 7680 x 4320 Pixels
34                     Ultra HD (4K) 3840 � 2160 Pixels
dtype: object

In [28]:
df_q2["cnt_4k"] = df_q2.iloc[:, :3].apply(lambda x: x.str.contains("4K").sum(), axis = 1)
df_q2["cnt_8k"] = df_q2.iloc[:, :3].apply(lambda x: x.str.contains("8K").sum(), axis = 1)
df_q2["cnt_4k"].value_counts()

cnt_4k
1    365
0    301
Name: count, dtype: int64

In [29]:
df_q2.head(2)

,Operating_system,channel,Picture_quality,Stars,cnt_4k,cnt_8k
0,20 Speaker Output,HD Ready 1366 x 768 Pixels,60 Hz Refresh Rate,4.2,0,0
1,Operating System: Android Based,Netflix|Disney+Hotstar|Youtube,HD Ready 1366 x 768 Pixels,3.8,0,0

In [31]:
stat_4k = df_q2.loc[df_q2["cnt_4k"] > 0, "Stars"].mean()
stat_8k = df_q2.loc[df_q2["cnt_8k"] > 0, "Stars"].mean()
round(abs(stat_4k - stat_8k), 2)

0.38

### Q3.

In [32]:
df_q3 = df.loc[~df["channel"].str.contains("Pixel|Oper"), ].reset_index(drop = True)
len(df_q3)

548

In [33]:
df_q3.head(2)

,Product_Name,Stars,Ratings,Reviews,current_price,MRP,channel,Operating_system,Picture_quality,Speaker,Frequency
0,Adsun,3.8,6742,930,8699,21999,Netflix|Disney+Hotstar|Youtube,Operating System: Android Based,HD Ready 1366 x 768 Pixels,20 W Speaker Output,60 Hz Refresh Rate
1,LG,4.4,38870,3443,16499,21990,Netflix|Prime Video|Disney+Hotstar|Youtube,Operating System: WebOS,HD Ready 1366 x 768 Pixels,10 W Speaker Output,50 Hz Refresh Rate

In [34]:
df_q3["x1"] = df_q3["Reviews"] / df_q3["Ratings"]
df_q3["x2"] = df_q3["MRP"]
df_q3["x3"] = df_q3["current_price"] / df_q3["MRP"]
df_q3["x4"] = df_q3["channel"].str.contains("Netflix") + 0
df_q3["x5"] = df_q3["channel"].str.contains("Prime Video") + 0
df_q3["x6"] = df_q3["Picture_quality"].str.contains("4K|8K") + 0

In [36]:
df_model = df_q3[["Stars", "x1", "x2", "x3", "x4", "x5", "x6"]]
df_model.head(2)

   Stars        x1     x2        x3  x4  x5  x6
0    3.8  0.137941  21999  0.395427   1   0   0
1    4.4  0.088577  21990  0.750296   1   1   0

In [37]:
len(df_model)

548

In [38]:
df_model.isna().sum()

Stars      0
x1       351
x2         0
x3         0
x4         0
x5         0
x6         0
dtype: int64

In [39]:
df_model = df_model.dropna()
len(df_model)

197

In [44]:
model_rf = RandomForestRegressor(random_state = 123)
model_rf.fit(X = df_model.drop(columns = "Stars"), 
             y = df_model["Stars"])
model_rf.feature_importances_

array([0.31220617, 0.17383963, 0.4446912 , 0.02714087, 0.02400442,
       0.01811773])

In [45]:
pd.Series(model_rf.feature_importances_, index = df_model.columns[1:])
# x3 - 할인율

x1    0.312206
x2    0.173840
x3    0.444691
x4    0.027141
x5    0.024004
x6    0.018118
dtype: float64